.flex-between{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-content-end{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.btn-margin{
  margin: 1rem;
}

@media (max-width: 1200px) {
    .flex-between{
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }
}

@media (max-width: 992px){
  .btn-margin{
      margin: 0.5rem;
    }
}

@media (max-width: 576px){
  .btn-margin{
      margin: 0.25rem;
    }
}